<?xml version="1.0" encoding="ISO-8859-1"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxorders">
            <SUBMENU id="mxdisplayorders" cl="admin_order" list="order_list">
                <TAB id="MOLLIE_ORDER_REFUND" cl="mollie_order_refund" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
    <OXMENU id="MOLLIE_ADMIN_TITLE">
        <MAINMENU id="MOLLIE_ADMIN_LOGS">
            <SUBMENU id="MOLLIE_ADMIN_API_LOGS" cl="mollie_apilog" list="mollie_apilog_list">
                <TAB id="MOLLIE_ADMIN_API_LOGS_MAIN" cl="mollie_apilog_main" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
